<?xml version="1.0"?>
    <config>
        <modules>
            <Canalweb_CookieBar>
              <version>1.0.0</version>
          </Canalweb_CookieBar>
        </modules>
        <global>
            <blocks>
                <cookiebar>
                    <class>Canalweb_CookieBar_Block</class>
                </cookiebar>
            </blocks>
            <models>
                <cookiebar>
                    <class>Canalweb_CookieBar_Model</class>
                </cookiebar>
            </models>
            <helpers>
                <cookiebar>
                    <class>Canalweb_CookieBar_Helper</class>
                </cookiebar>
            </helpers>
        </global>
        <frontend>
            <layout>
                <updates>
                    <cookiebar>
                            <file>cookie_bar.xml</file>
                    </cookiebar>
                </updates>
            </layout>
        </frontend>
        <admin>
            <routers>
                <adminhtml>
                    <args>
                        <modules>
                            <canalweb_cookiebar before="Mage_Adminhtml">Canalweb_CookieBar_Adminhtml</canalweb_cookiebar>
                        </modules>
                    </args>
                </adminhtml>
            </routers>
        </admin>
        <adminhtml>
           <acl>
               <resources>
                   <admin>
                       <children>
                           <system>
                               <children>
                                   <config>
                                       <children>
                                           <cw_cookiebar translate="title">
                                               <title>Canal Web - Cookie bar</title>
                                           </cw_cookiebar>
                                       </children>
                                   </config>
                               </children>
                           </system>
                       </children>
                   </admin>
               </resources>
           </acl>
         </adminhtml>
         <default>
             <cw_cookiebar>
                 <cookieconfig>
                     <activation>0</activation>
                     <position>haut</position>
                     <texte_barre>
                         Ce site utilise des cookies pour recueillir les informations de navigation. En le parcourant, vous autorisez le présent site à recueillir vos informations de navigation.
                     </texte_barre>
                     <texte_btn>Ok</texte_btn>
                 </cookieconfig>
             </cw_cookiebar>
         </default>
    </config>
